* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  color: #37474f;
  line-height: 2rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

strong {
  color: #000;
  font-weight: 600;
}

code {
  padding: 0.5em 1em;
  border-radius: 0.3em;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0px 0px 0px 1px #dfdfdf;
  background-color: #fdfdfd;
}

.dark-bg {
  color: white;
  background-color: #42474b;
}

.container {
  position: relative;
  padding: 1rem 1.5rem;

  > section {
    padding-top: 2em;
    padding-bottom: 3em;
    border-top: 1px solid #dcdcdc;
    opacity: 1;
    transition: opacity 0.5s;

    &:first-child {
      border-top: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 1rem calc(1.5rem + 50vw - 480px);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 1rem calc(1.5rem + 50vw - 576px);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 1rem calc(1.5rem + 50vw - 672px);
  }
}

header .title {
  margin: 0.5em 0 0.25em;
  font-size: 1.5em;
  letter-spacing: 1px;
}

header .title strong {
  color: #2d3130;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
  margin-right: 6px;
  font-size: 1.1em;
}

.data-list {
  margin: 1rem 0;
  padding-left: 1.5rem;
  list-style: disc;

  li {
    margin: 0.5rem 0;
    color: #37474f;
  }
}

.notice {
  background-color: #fff3e0;
  border-left: 3px solid #ff9800;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 3px;
}

.notice p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #37474f;
}

.notice p:first-child {
  margin-top: 0;
}

.notice p:last-child {
  margin-bottom: 0;
}

.notice strong {
  color: #e65100;
  font-weight: 600;
}

.privacy-link {
  text-align: center;
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid #e0e0e0;
  font-size: 0.9rem;
}

.privacy-link a {
  color: #0288d1;
  text-decoration: none;
  font-weight: 500;
}

.privacy-link a:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

.button {
  flex: 1;
  position: relative;
  padding: 0.75rem 2rem;
  letter-spacing: 1px;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.5s box-shadow;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 0px 0px 0px transparent;
}

.button:focus {
  outline: none;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.7);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.button-decline {
  background-color: rgba(0, 0, 0, 0.125);
  border: 1px solid rgba(0, 0, 0, 0.125);
  color: #37474f;
}

.button-decline:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.15);
}

.button-accept {
  background-color: #42474b;
  border: 1px solid #42474b;
  color: white;
}

.button-accept:hover:not(:disabled) {
  background-color: #35393c;
}

@media (max-width: 600px) {
  header .title {
    font-size: 1.2em;
  }

  .actions {
    flex-direction: column-reverse;
    gap: 0.75rem;
  }

  .button {
    width: 100%;
  }
}
