[build]
  command = "yarn build:client"
  publish = "dist/client"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["cloudinary"]

[template.environment]
  CLOUDINARY_URL = "Cloudinary URL"
  USE_HIGH_QUALITY = "Use High Quality (boolean)"
  GA_TRACKING_ID = "Google Analytics Tracking ID"

[[redirects]]
  from = "https://video-to-markdown.netlify.app/*"
  to = "https://video-to-markdown.marcomontalbano.com/:splat"
  force = true

[dev]
  command = "yarn start:client"
