@use "variables";

.button,
.input {
  border-radius: 0.25rem;
  &:focus {
    outline: none;
  }
}

.input {
  border: 1px solid transparent;
  padding: 0.6rem;
  font-size: 15px;
  font-family: Verdana;
  font-weight: 200;
}

.button {
  position: relative;
  padding: 0.6rem 2rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 0px 0px transparent;
  transition: variables.$transition-duration box-shadow;

  text-align: center;
  background-color: #00000020; 
  border: 1px solid #00000020;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.7);
  }

  .tag {
    position: absolute;
    top: -12px;
    right: -30px;
    background: #323639;
    color: white;
    padding: 6px 6px;
    font-size: 10px;
    border-radius: 20px;
    line-height: 12px;
    border: 1px solid;
    display: none;
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;

    .tag {
      display: block;
    }
  }
}
