// http://objectway.github.io/super-gigi/
@import "../../node_modules/super-gigi/dist/_main";

//
@import "variables";
@import "normalize";
@import "grid";
@import "button";
@import "spinner";
@import "code";

@import "homepage";

html {
  font-family: "Montserrat", sans-serif;
  background: $background-color;
  color: $color-text-dark;
  line-height: 2rem;
  font-size: 16px;
}

.with-more-padding {
  padding: 2em 0;
}

img {
  width: 100%;
  max-width: 100%;
}

.dark-bg {
  color: $color-white;
  background-color: $header-background-color;
}

header {
  h1.title {
    margin: 0.5em 0 0.25em;
    font-size: 1.5em;
    letter-spacing: 1px;

    a {
      color: $color-white;
      text-decoration: none;
    }

    strong {
      color: #2d3130;
      text-shadow: 1px 1px #ffffff4d;
      margin-right: 6px;
      font-size: 1.1em;
    }
  }
}

footer {
  text-align: right;
  margin-bottom: 15px;
  a {
    margin-left: 12px;
    text-decoration: none;
    color: #607d8b;
    > i {
      margin: 0 2px;
    }
  }
}
