body {
  width: 512px;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, system-ui, sans-serif;
}

.hidden {
  display: none !important;
}

.image-container {
  display: flex;

  img {
    object-fit: contain;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-bottom: 1px solid #c1c1c1;
  }
}

.video-not-found-disclaimer {
  margin: 1rem 1rem;
  line-height: 1.2rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: #fff3e0;
  border: 1px solid #ffb74d;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

input[type="text"],
.code-container {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #c1c1c1;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.3s ease;
  border-radius: 0.3rem;
}

.code-container {
  display: flex;
  padding: 0;

  #copy {
    padding: 10.5px;
    flex-grow: 0;
    flex-basis: 24px;
    flex-shrink: 0;
    border: none;
    appearance: none;
    background: transparent;
    border-left: 1px solid #c1c1c1;
    transition: color 0.4s ease;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      fill: currentColor;
    }

    > * {
      pointer-events: none;
      display: flex;
    }

    .copy-action {
      opacity: 1;
      transition: opacity 0.4s ease;
    }

    .copy-feedback {
      opacity: 0;
      transition: opacity 0.4s ease;
      font-size: 12px;
      color: #558b2f;
      position: absolute;
    }

    &:hover {
      .copy-action {
        opacity: 0.5;
      }
    }

    &.copied {
      .copy-action {
        opacity: 0;
      }

      .copy-feedback {
        opacity: 1;
      }
    }
  }

  .code {
    font-family: monospace;
    font-size: 14px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;

    span {
      display: inline-block;
      padding: 0em 0.4em;
      color: #98c379;
    }
  }
}

form {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  label {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0.5rem;
    color: #333;
  }

  label:has(input[type="checkbox"]) {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
    gap: 0.5rem;
  }

  input[type="checkbox"] {
    appearance: none;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #c1c1c1;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 0;
    border-radius: 0.3rem;

    &:checked {
      background-color: #333;
      border-color: #333;
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }
  }
}

input:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #5e9ed6;
}

.opacity-0 {
  opacity: 0;
}

body.loading {
  .image-container {
    position: relative;
    display: flex;

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("not-found-bg.jpg");
      background-size: cover;
      z-index: 1;
    }

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 5px solid #c1c1c1;
      border-top-color: #333;
      animation: spin 1s linear infinite;
      z-index: 2;
    }
  }
}
